certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
cssselect==1.0.1
cycler==0.10.0
get
gevent==1.2.2
greenlet==0.4.12
idna==2.6
lxml==4.9.1
matplotlib==2.0.2
numpy==1.13.1
oauthlib==2.0.2
pandas==0.20.3
pigar==0.7.0
post
public
pymongo==3.4.0
PyMySQL==0.7.11
pyparsing==2.2.0
pyquery==1.2.10
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.2
query-string
request
requests==2.18.4
requests-oauthlib==0.8.0
setupfiles==0.0.50
six==1.10.0
tweepy
urllib3==1.22
XlsxWriter==0.9.8
